<!-- search user modal -->
<div class="modal" id="channelPasswordModal" tabindex="-1" role="dialog" aria-labelledby="channelPasswordModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="channelPasswordModalLabel">channel password setting</h5>
			</div>
			<div class="modal-body">
				<form class="form" id="channel-setting-form">
					<!-- tmpl-channel-setting -->
				</form>
			</div>
		</div>
	</div>
</div>
