<script type="text/template" name="tmpl-channels-list">
<%% _.each(channels, function(channel, i) { %>
	<%% const me = _.find(channel.members, (member) => { return member.user_id === $('html').data().userId }) %>
	<li data-channel-id="<%%= channel.id %>" class="channel-list-channel list-group-item d-flex justify-content-between align-items-center side-list-item cursor">
		<div>
			# <span class="<%%= channel.channel_type === "private" ? "private-channel" : ""%>">
				<%%= channel.room %>
			</span>
		</div>
		<div>
			<%% if (me.unread > 0) { %>
			<span class="badge badge-danger badge-pill"><%%= me.unread %></span>
			<%% } else { %>
			<span class="badge badge-danger badge-pill d-none">0</span>
			<%% } %>
			<span data-channel-id="<%%= channel.id %>" data-room="<%%= channel.room %>" class="oi oi-account-logout quit-channel"></span>
		</div>
	</li>
<%% }) %>	
<%% _.each(chats, function(chat, i) { %>
	<%% const me = _.find(chat.members, (member) => { return member.user_id === $('html').data().userId }) %>
	<%% const opponent = _.find(chat.members, (member) => { return member.user_id !== $('html').data().userId }) %>
	<%% const is_blocked = _.find(block_list, (u) => { return u.user_id === opponent.user_id }) %>
	<li data-room="<%%= chat.room %>"
		class="<%%= !is_blocked && (chat.unread > 0 || me.display) ? "" : "d-none" %> channel-list-chat list-group-item d-flex justify-content-between align-items-center side-list-item cursor">
		<div>
			<%%= opponent.nickname %>
		</div>
		<div>
			<%% if (me.unread > 0) { %>
			<span class="badge badge-danger badge-pill"><%%= me.unread %></span>
			<%% } else { %>
			<span class="badge badge-danger badge-pill d-none">0</span>
			<%% } %>
			<span class="remove-chat oi oi-x"></span>
		</div>
	</li>
<%% }) %>
</script>

<!-- 
	<li class="list-group-item d-flex justify-content-between align-items-center side-list-item">
		<div>
			# protected channel <span class="oi oi-lock-locked"></span>
		</div>
		<span class="badge badge-danger badge-pill">14</span>
	</li>
-->