<script type="text/template" name="tmpl-channel-login">
<div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center">
	<h5>This channel is protected.</h5>
	<form class="form-inline" id="channel-login-form">
		<div class="form-group row">
			<input type="password" name="channel_password" class="form-control mr-1" style="width:70%" placeholder="password">
			<button type="submit" class="btn btn-primary" style="width:20%">enter</button>
		</div>
	</form>
</div>
</script>