<script type="text/template" name="tmpl-channel-login">
<div class="d-flex flex-column w-100 h-100 justify-content-center align-items-center">
	<h5>This channel is protected.</h5>
	<form class="form-inline" id="channel-login-form">
		<input type="password" name="channel_password" class="form-control mx-sm-3" placeholder="password">
		<button type="submit" class="btn btn-primary">enter</button>
	</form>
</div>
</script>