<script type="text/template" name="tmpl-channel-members">
<%% _.each(members, function(member, index) { %>
	<div class="text-white pl-1 cursor userInfoModal" data-toggle="modal" data-target="#userInfoModal" data-user-id="<%%= member.user_id %>"><%%= member.nickname %></div>
<%% }) %>
</script>
