// Place all the styles related to the spa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body, #app{
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#content-wrapper {
  flex: 1;
  overflow: auto;
}

.full-height {
  height: 100%;
}

.nav-link {
  text-align: right;
}

.nav-user {
  display: flex;
  align-items: center;
}

.nav-avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 5px;
}

.side-list {
  width: 100%;
}

.card-header {
  padding: 5px;
}

.card-body {
  padding: 0
}

.side-list-item {
  background-color: #00000036;
}

.card .list-group-item {
  padding: 0 5px 0 5px;
}

.cursor {
  cursor: pointer;
}

.userinfo-avatar {
  height: 150px;
  width: 150px;
}

.fit-content {
  min-width: fit-content;
}

.user-status-wrapper {
  display: flex;
  align-items: center;
}

.user-status {
  height: 16px;
  width: 16px;
  border-radius: 8px;
  border: 1px black solid;
  margin-left: 5px;
}

.offline {
  background-color: #929292;
}
.online {
  background-color: #00ff66;
}
.game {
  background-color: #ef4a4a;
}

/* chat */

#chat-members {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  min-width: 200px;
  height: inherit;
  background-color: #6c757d;
}
.chat-header {
  background-color: #6c757d;
  border-radius: 3px;
  align-items: center;
  height: 2.5em;
  position: relative;
}

#chat-wrapper {
  overflow-x: hidden;
}

#chat-content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

.chat-submit {
  height: 60px;
  align-items: center;
}

.chat-box {
  margin: 1em;
}

.chat-avatar {
  width: 50px;
  height: 50px;
}

.chat-message-wrapper {
  max-width: calc(100% - 50px - 40px);
}

.chat-message {
  padding: 10px;
  background-color: #ececec;
  border-radius: 10px;
  overflow-wrap: break-word;
  width: fit-content;
  display: inline-flex;
}

.chat-my-message {
  text-align: right;
  flex-direction: row-reverse;
}

.chat-date {
  font-size: 13px;
}

#chat-members {
  background-color: #000000b3;
  position: absolute;
  top: 2.5em;
  right: 0;
  height: calc(70vh - 2.5em);
}

.private-channel {
  color: #ff8585;
}

.d-none {
  display: none !important;
}

#chat-message-loader-wrapper {
  position: absolute;
  z-index: 1;
  background-color: #c7c7c775;
  height: 70vh;
  width: calc(100% - 33px);
}

#chat-message-loader {
  position: absolute;
  z-index: 2;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  height: 40px;
  width: 40px;
}

@media (max-width: 767px) {
  .side-list {
    width: 50%;
    min-height: 150px;
  }
}
