<!-- game content -->
<script type="text/template" name="tmpl-game-index">
	<div class="container-fluid h-50">
		<div class="row h-50 justify-content-around align-items-center">
			<div class="game-type shadow-lg cursor" id="game-ladder" data-link="ladder">
				<h3>
					Ladder
				</h3>
			</div>
			<div class="game-type shadow-lg cursor" id="game-friendly" data-link="duel">
				<h3>
					Duel
				</h3>
			</div>
		</div>
		<div class="row h-50 justify-content-around align-items-center">
			<div class="game-type shadow-lg cursor" id="game-tournament" data-link="tournament">
				<h3>
					Tournament
				</h3>
			</div>
			<div class="game-type shadow-lg cursor" id="game-guild" data-link="guild">
				<h3>
					Guild match
				</h3>
			</div>
		</div>
	</div>
	<div class="container-fluid h-50">
		On game list...
	</div>
</script>