<!-- game content -->
<script type="text/template" name="tmpl-game-index">
	<div class="container-fluid">
		<h3 class="text-center mt-3">Games</h3>
		<div class="row">
			<div class="col-sm-6">
				<div class="card m-3 game-type cursor text-white bg-dark" data-link="ladder">
					<%= image_tag("game-ladder.jpg", class: "card-img-top") %>
					<div class="card-header text-center">Ladder</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card m-3 game-type cursor text-white bg-danger" data-link="duel">
					<%= image_tag("game-duel.jpg", class: "card-img-top") %>
					<div class="card-header text-center">Duel</div>			
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card m-3 game-type cursor text-white bg-info" data-link="tournaments">
					<%= image_tag("game-tournament.jpg", class: "card-img-top") %>
					<div class="card-header text-center">Tournament</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card m-3 game-type cursor text-white bg-success" data-link="war">
					<%= image_tag("game-war.jpg", class: "card-img-top") %>
					<div class="card-header text-center">Guild war</div>
				</div>
			</div>
		</div>
		<h3 class="text-center mt-3">In game list</h3>
		<div class="row box mb-3">
			<div id="game-ingame-list">
			</div>
		</div>
	</div>
</script>