<!-- match content -->
<script type="text/template" name="tmpl-game-page">
	<div id="game-players"></div>
	<div id="game-game"></div>
</script>

<script type="text/template" name="tmpl-game-players">
	<div class="container-fluid d-flex" id="match" data-match-id=<%%=id%>>
		<div class="col-sm-4 text-center p-1 mt-4" id="match-player1" data-user-id=<%%=player_1 ? player_1.user_id : ''%>>
			<%% if (player_1) { %>
			<img class="rounded-circle game-avatar" src="<%%=player_1.avatar_url%>">
			<%% } else { %>
			<%= image_tag("avatar.webp", class: "rounded-circle game-avatar") %>
			<%% } %>
			<div><%%=player_1 ? player_1.nickname : 'Waiting' %></div>
			<div id="player1-ready-status"><%%= player_1 ? (match_finished ? "Finished" : (player_1.ready ? "Ready" : "Not Ready")) : "" %></div>
			<div class="custom-switch custom-switch-label-ox" style="line-height:initial;padding:0">
				<%% if (!match_finished && player_1 && player_1.user_id === $('html').data().userId) { %>
				<input class="custom-switch-input ready-status" id="p1-ready-status" data-nb-player="1"
					data-user-id="<%%= player_1.user_id%>" type="checkbox" <%%= player_1 && player_1.ready ? 'checked' : ''%> <%%= started_at ? "disabled" : ""%>>
				<label class="custom-switch-btn" for="p1-ready-status"></label>
				<%% } %>
			</div>
		</div>
		<div class="col-sm-4 p-1 text-center d-flex align-items-center justify-content-center">
			<h1 class="m-1" id="player1-score"><%%= player_1 ? player_1.score : 0 %></h1>
			<h1 class="m-1">:</h1>
			<h1 class="m-1"	id="player2-score"><%%= player_2 ? player_2.score : 0 %></h1>
		</div>
		<div class="col-sm-4 text-center p-1 mt-4" id="match-player2">
			<%% if (player_2) { %>
			<img class="rounded-circle game-avatar" src="<%%= player_2.avatar_url %>">
			<%% } else { %>
			<%= image_tag("avatar.webp", class: "rounded-circle game-avatar") %>
			<%% } %>
			<div><%%= player_2 ? player_2.nickname : 'Waiting'%></div>
			<div id="player2-ready-status"><%%= player_2 ? (match_finished ? "Finished" : (player_2.ready ? "Ready" : "Not Ready")) : "" %></div>
			<div class="custom-switch custom-switch-label-ox" style="line-height:initial;padding:0">
				<%% if (!match_finished && player_2 && player_2.user_id === $('html').data().userId) { %>
				<input class="custom-switch-input ready-status" id="p2-ready-status" data-nb-player="2"
					data-user-id="<%%= player_2.user_id%>" type="checkbox" <%%= player_2 && player_2.ready ? 'checked' : ''%>  <%%= started_at ? "disabled" : ""%>>
				<label class="custom-switch-btn" for="p2-ready-status"></label>
				<%% } %>
			</div>
		</div>
	</div>

</script>
<script type="text/template" name="tmpl-game-game">
	<div id="game-timer" class="d-none"></div>
	<div id="game-screen-wrapper">
		<canvas id="game-screen" style="background-color:#353535"></canvas>
	</div>
</script>

<script type="text/template" name="tmpl-ingame-list">
	<%% if (list.length === 0) { %>
		<p class="text-center">No match in game</p>
	<%% } else { %>
	<ul class="list-group">
		<%% _.forEach(list, (item) => { %>
		<li class="list-group-item ingame-match cursor" data-match-id="<%%= item.id %>" data-match-type="<%%= item.match_type %>">
			(<%%= item.match_type %>) <%%= item.player_1.nickname %> vs <%%= item.player_2.nickname %>
		</li>
		<%% }) %>
	</ul>
	<%% } %>
</script>