<!-- match content -->
<script type="text/template" name="tmpl-game-page">
	<div id="game-players"></div>
	<div id="game-game"></div>
</script>

<script type="text/template" name="tmpl-game-players">
	<div class="container-fluid d-flex" id="match" data-match-id=<%%=id%>>
		<div class="col-sm-4 text-center p-1 mt-4" id="match-player1" data-user-id=<%%=player_1 ? player_1.user_id : ''%>>
			<%% if (player_1) { %>
			<img class="userInfoModal cursor rounded-circle game-avatar" src="<%%=player_1.avatar_url%>" data-user-id="<%%= player_1.user_id %>" data-toggle="modal" data-target="#userInfoModal">
			<%% } else if (player_left_id) { %>
			<img class="userInfoModal cursor rounded-circle game-avatar blur" src="<%%=player_left.avatar_url%>" data-user-id="<%%= player_left.user_id %>" data-toggle="modal" data-target="#userInfoModal">
			<%% } else { %>
			<%= image_tag("avatar.webp", class: "rounded-circle game-avatar") %>
			<%% } %>
			<div>
				<%% if (player_1) { %>
				<%%= match_type === "ladder" ? rank_image(player_1.rp) + player_1.nickname : player_1.nickname %>
				<%% } else if (!started_at) { %>
					Waiting
				<%% } else if (player_left_id) { %>
				<%%= player_left.nickname %>
				<%% } %>
			</div>
			<%% let p1_status;
				if (match_finished) {
					p1_status = "Finished";
				} else if (!started_at && player_1) {
					if (player_1.ready) {
						p1_status = 'Ready';
					} else {
						p1_status = 'Not Ready'
					}
				} else if (started_at && !player_1) {
					p1_status = "Disconnected";
				}
			%>
			<div id="player1-ready-status" class="ready-status">
				<%%= p1_status %>
			</div>
			<div class="custom-switch custom-switch-label-ox" style="line-height:initial;padding:0">
				<%% if (match_type != "war" && !match_finished && !started_at && player_1 && player_1.user_id === $('html').data().userId) { %>
				<input class="custom-switch-input ready-status" id="p1-ready-status" data-nb-player="1"
					data-user-id="<%%= player_1.user_id%>" type="checkbox" <%%= player_1 && player_1.ready ? 'checked' : ''%> <%%= started_at ? "disabled" : ""%>>
				<label class="custom-switch-btn" for="p1-ready-status"></label>
				<%% } %>
			</div>
		</div>
		<div class="col-sm-4 p-1 text-center d-flex align-items-center justify-content-center">
			<h1 class="m-1" id="player1-score"><%%= score_left %></h1>
			<h1 class="m-1">:</h1>
			<h1 class="m-1"	id="player2-score"><%%= score_right %></h1>
		</div>
		<div class="col-sm-4 text-center p-1 mt-4" id="match-player2">
			<%% if (player_2) { %>
			<img class="userInfoModal cursor rounded-circle game-avatar" src="<%%= player_2.avatar_url %>" data-user-id="<%%= player_2.user_id %>" data-toggle="modal" data-target="#userInfoModal">
			<%% } else if (player_right_id) { %>
			<img class="userInfoModal cursor rounded-circle game-avatar blur" src="<%%= player_right.avatar_url %>" data-user-id="<%%= player_right.user_id %>" data-toggle="modal" data-target="#userInfoModal">
			<%% } else { %>
			<%= image_tag("avatar.webp", class: "rounded-circle game-avatar") %>
			<%% } %>
			<div>
				<%% if (player_2) { %>
				<%%= match_type === "ladder" ? rank_image(player_2.rp) + player_2.nickname : player_2.nickname %>
				<%% } else if (!started_at) { %>
					Waiting
				<%% } else if (player_right_id) { %>
				<%%= player_right.nickname %>
				<%% } %>
			</div>
			<%% let p2_status = '';
				if (match_finished) {
					p2_status = "Finished";
				} else if (!started_at && player_2) {
					if (player_2.ready) {
						p2_status = 'Ready';
					} else {
						p2_status = 'Not Ready'
					}
				} else if (started_at && !player_2) {
					p2_status = "Disconnected";
				}
			%>
			<div id="player2-ready-status" class="ready-status">
				<%%= p2_status %>
			</div>
			<div class="custom-switch custom-switch-label-ox" style="line-height:initial;padding:0">
				<%% if (match_type != "war" && !match_finished && !started_at && player_2 && player_2.user_id === $('html').data().userId) { %>
				<input class="custom-switch-input ready-status" id="p2-ready-status" data-nb-player="2"
					data-user-id="<%%= player_2.user_id%>" type="checkbox" <%%= player_2 && player_2.ready ? 'checked' : ''%>  <%%= started_at ? "disabled" : ""%>>
				<label class="custom-switch-btn" for="p2-ready-status"></label>
				<%% } %>
			</div>
		</div>
	</div>

</script>
<script type="text/template" name="tmpl-game-game">
	<div id="game-timer" class="d-none"></div>
	<%% let color = "#353535"; %>
	<%% if (match_type.indexOf("duel") > -1) {
			color = "#982400";
		} else if (match_type === "ladder") {
			color = "#353535";
		} else if (match_type.indexOf("tournament") > -1) {
			color = "#124579";
		} else if (match_type === "war") {
			color = "#193a00"
		}
	%>
	<div id="game-screen-wrapper">
		<canvas id="game-screen" style="background-color:<%%= color %>"></canvas>
	</div>
</script>

<script type="text/template" name="tmpl-ingame-list">
	<%% if (list.length === 0) { %>
		<p class="text-center">No match in game</p>
	<%% } else { %>
	<ul class="list-group">
		<%% _.forEach(list, (item) => { %>
		<li class="list-group-item ingame-match cursor" data-match-id="<%%= item.id %>" data-match-type="<%%= item.match_type %>">
			(<%%= item.match_type %>) <%%= item.player_left.nickname %> VS <%%= item.player_right.nickname %>
		</li>
		<%% }) %>
	</ul>
	<%% } %>
</script>