<!-- match content -->
<script type="text/template" name="tmpl-game-match">
	<div class="container-fluid d-flex">
		<div class="col-sm-4 text-center p-1">
			<img class="rounded-circle game-avatar" src="https://cdn.intra.42.fr/users/small_wpark.jpg">
			<div>name</div>
			<div class="custom-switch custom-switch-label-ox" style="line-height:initial;padding:0">
				<input class="custom-switch-input ready-status" id="p1-ready-status" type="checkbox">
				<label class="custom-switch-btn" for="p1-ready-status"></label>
				<div class="custom-switch-content-checked">
					READY
				</div>
				<div class="custom-switch-content-unchecked">
					NOT READY
				</div>
			</div>
		</div>
		<div class="col-sm-4 p-1 text-center d-flex align-items-center justify-content-center">
			<h1 class="m-1">1</h1>
			<h1 class="m-1">:</h1>
			<h1 class="m-1">1</h1>
		</div>
		<div class="col-sm-4 p-1 text-center">
			<img class="rounded-circle game-avatar" src="https://cdn.intra.42.fr/users/small_wpark.jpg">
			<div>name</div>		
			<div class="custom-switch custom-switch-label-ox" style="line-height:initial;padding:0">
				<input class="custom-switch-input ready-status" id="p2-ready-status" type="checkbox">
				<label class="custom-switch-btn" for="p2-ready-status"></label>
				<div class="custom-switch-content-checked">
					READY
				</div>
				<div class="custom-switch-content-unchecked">
					NOT READY
				</div>
			</div>
		</div>
	</div>
	<div id="timer">timer</div>
	<div id="game-screen-wrapper">
		<canvas id="game-screen" style="background-color:#353535"></canvas>
	</div>
</script>