<script type="text/template" name="tmpl-tournaments-page">
	<div id="tournaments-list">
	</div>
</script>

<script type="text/template" name="tmpl-tournaments-list">
	<%% _.forEach(list, (item)=> { %>
		<div data-id="<%%= item.id %>" class="tournamentItem tournament-<%%= item.status %>"><%%= item.name %></div>
	<%% }) %>
</script>