<script type="text/template" name="tmpl-tournaments-page">
	<button id=create-tournament-button display=none class="btn btn-primary">Create tournament</button>
	<div id="tournaments-list">
	</div>
</script>

<script type="text/template" name="tmpl-tournaments-list">
	<%% _.forEach(list, (item)=> { %>
		<div data-id="<%%= item.id %>" class="tournamentItem tournament-<%%= item.status %>"><%%= item.name %></div>
	<%% }) %>
</script>