<script type="text/template" name="tmpl-tournaments-page">
	<%% if (me.admin) { %>
	<div class="text-center mt-3">
		<button class="btn btn-primary" id=tournament-create data-toggle="modal" data-target="#createTournamentModal">create tournament</button>
	</div>
	<%% } %>
	<div class="box p-3 m-3">
		<h5>Tournament list</h5>
		<ul class="list-group" id="tournaments-list">
		</ul>
	</div>
</script>

<script type="text/template" name="tmpl-tournaments-list">
	<%% if (list && list.length > 0) { %>
		<%% _.forEach(list, (item)=> { %>
			<%% let status = "Registration"
				if (item.status === 1)
					status = "SemiFinal";
				if (item.status === 2)
					status = "Final";
				if (item.status === 3)
					status = "Finished";
			%>
			<li class="cursor list-group-item tournament-item <%%=item.status === 3 ? 'list-group-item-secondary' : ''%>" data-id="<%%= item.id %>">
				<%%= item.name %> (<%%= status %>)
			</li>
		<%% }) %>
	<%% } else { %>
		<li class="list-group-item tournament-item-no">No tournament</li>
	<%% } %>
</script>

<!-- <class="tournamentItem tournament-<%%= item.status %>" -->

<script type="text/template" name="tmpl-tournaments-button">
	<button id=create-tournament-button class="btn btn-primary align-items-center btn-lg btn-block btn-huge mt-3 mb-4">Create tournament</button>
</script>
