<!-- friends -->
<script type="text/template" name="tmpl-friends-list">
<%% _.each(friends, function(item, i) { %>
	<li class="list-group-item d-flex justify-content-between align-items-center side-list-item">
		<%%= item.nickname %> (<%%= item.name %>)
		<span class="oi oi-trash removeFriendBtn"
			data-user-id="<%%= item.user_id %>"
			data-name="<%%= item.name %>"
			data-nickname="<%%= item.nickname %>">
		</span>
	</li>
<%% }) %>
</script>