<!-- gulid content -->
<script type="text/template" name="tmpl-content-guild">
	<div>
        <label><input type="radio" name="guildSelection" value="create"> Create Guild</label><br>
        <div class="col-md-5 createGuild" style="display: none;">
			<input class="form-control mr-sm-2" placeholder="type new guild name" id="guildName">
        </div>
        <label><input type="radio" name="guildSelection" value="join"> Join Guild</label>
        <div class="joinGuild" style="display: none;">Choose Guild</div>
    </div>
    <br>
   <div>
        <h1>All Guilds</h1>
	</div>
    <div>
        <ul>
        <%% _.each(guilds, function(user, i) { %>
		<li class="list-group-item"><%%= guilds[i].name %> <%%= guilds[i].anagram %>
		</li>
	<%% }) %>
        </ul>
    </div>
	<br>
	<div class="row">
        <div class="col-md-5">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge disabled declareWar">Declare War</a>
        </div>
        <div class="col-md-5">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-huge leave">Leave Guild</a>
        </div>
	</div>
</script>