<!-- profile content -->
<%# https://cdn.intra.42.fr/users/small_wpark.jpg %>

<script type="text/template" name="tmpl-content-profile">
<div class="container p-3">
<form>
  <div class="form-group row">
    <label for="avatar" class="col-sm-5 col-form-label">Avatar</label>
    <div class="col-sm-7">
    	<input type="file" class="form-control-file avatar_url-update" id="avatar">
    </div>
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-5 col-form-label">Name</label>
    <div class="col-sm-7">
			<input class="form-control name-update" type="text" value="<%%= name %>" id="name" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="nickname" class="col-sm-5 col-form-label">Nickname</label>
    <div class="col-sm-7">
      <input type="text" class="form-control nickname-update" id="nickname" value="<%%= nickname %>">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">2 Factor Authentication</div>
    <div class="col-sm-7">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="twofactor">
        <label class="form-check-label" for="twofactor">
          on / off
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </div>
</form>
</div>

<div class="m-3">
	<h2>Block list</h2>
	<div class="overflow-auto" style="height: 200px">
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Cras justo odio
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
			<li class="list-group-item d-flex justify-content-between align-items-center">
				Dapibus ac facilisis in
				<button type="button" class="btn btn-danger btn-sm">delete</button>
			</li>
		</ul>
	</div>
</div>

</script>