<!-- channel -->
<script type="text/template" name="tmpl-user-info-modal">
<div class="container">
	<div class="row">
	<div class="w-50 fit-content">
		<img class="rounded-circle userinfo-avatar" src="<%%= user.avatar_url %>" />
	</div>
	<div class="w-50">
		<div>nickname: <%%= user.nickname %> </div>
		<div>name: <%%= user.name %></div>
		<div>wins: 10</div>
		<div>loss: 10</div>
		<button type="button" class="btn btn-success btn-sm">send message</button>
	</div>
	</div>
</div>
</script>