<!-- channel -->
<script type="text/template" name="tmpl-user-info-modal">
<div class="container">
	<div class="row">
	<div class="w-50 fit-content">
		<img class="rounded-circle userinfo-avatar" src="<%%= user.avatar_url %>" />
	</div>
	<div class="w-50">
		<div>nickname: <%%= user.nickname %> </div>
		<div>name: <%%= user.name %></div>
		<div>wins: 10</div>
		<div>loss: 10</div>
		<%% if (user.user_id !== $('html').data().userId) { %>
		<button type="button" class="btn btn-success btn-sm" id="start-chat" data-room="<%%= Helper.make_room(user.user_id, $('html').data().userId) %>">send message</button>
		<%% } %>
	</div>
	</div>
</div>
</script>