<!-- war content -->
<script type="text/template" name="tmpl-content-war">
    <div>
        <%% if(position === "win") {%>
            <div id="status" class="rounded bg-gradient-2 shadow p-5 text-center mb-5">
                <h1 align="center" class="display-4" style="color:#E3C220">Your guild is leading!</h1>
            </div>
            <%% } else if(position === "loss")  {%>
                <div id="status" class="rounded bg-gradient-1 shadow p-5 text-center mb-5">
                    <h1 class="display-4" style="color:#C90812">Your guild is trailing!</h1>
                </div>
            <%% } else {%>
                <div id="status" class="rounded bg-gradient-1 shadow p-5 text-center mb-5">
                    <h1 class="display-4" style="color:#FFFF00">Both guilds have the same score</h1>
                </div>
            <%% } %>
    </div>
    <div id="countdown" class="rounded bg-gradient-1 text-white shadow p-5 text-center mb-5">
        <h1 align="center" class="display-4" style="color:#FFFFFF">
        <%% if(status == 2) { %>
        War ends in:
        <%% } else { %>
        War starts in:
        <%% } %>
        </h1>
        <p id="clock" class="clock-class"></p>
    </div>
    <div id="stats" class="rounded bg-gradient-1 text-white shadow p-5 text-center mb-5">
        <h1 align="center" class="display-4" style="color:#FFFFFF">Statistics:</h1>
        <div id="stats_inner">
            <div class="container">
                <div class="row">
                    <div id="score" class="col-6">
                        <p class="text-md-center">Score</p>
                        <div class="row">
                            <table style="width:100%" id="score-table">
                                <tr>
                                    <th>
                                       <%%=  player_guild_anag %>
                                    </th>
                                    <th>
                                        <%%= opponent_guild_anag %>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <%%= guild_1_score %>
                                    </td>
                                    <td>
                                        <%%= guild_2_score %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div id="other_statistics" class="col-4">
                        <p class="text-md-center"><%%=  player_guild_anag %> stats</p>
                        <table style="width:100%" id="score-table">
                            <tr>
                                <td>Wins</td>
                                <td><%%= wins %></td>
                            </tr>
                            <tr>
                                <td>Losses</td>
                                <td><%%= losses %></td>
                            </tr>
                            <tr>
                                <td>UAC</td>
                                <td><%%= unanswered %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-warning btn-lg btn-block"
            id="attack">Attack!</button>
    </div>
</script>