<!-- gulid content -->
<script type="text/template" name="tmpl-war-history">
    Guild War History Page
    <ul>
        <%% _.each(wars, function(wars, i) { %>
		<li class="list-group-item d-flex justify-content-between align-items-center">
        <span>
            Challenger: <%%= wars.guild_1 %><br>
            Accepter: <%%= wars.guild_2 %>
        </span>
        </li>
	<%% }) %>
        </ul>
</script>