<!-- war content -->
<script type="text/template" name="tmpl-content-war">
<div>
This is the war template
<%% if(user_guild_number === "guild_2") {%>
    green
<%% } else {%>
    red
	<%% } %>
</div>
</script>