<!-- war content -->
<script type="text/template" name="tmpl-content-war">
<div>
This is the war template
<%% if(position === "win") {%>
    <div class="container">
        <h1 align="cennter" class="display-4" style="color:#41C232">Your guild is leading!</h1>
    </div>
<%% } else {%>
    <div class="container">
        <h1 class="display-4" style="color:#C90812">Your guild is trailing!</h1>
    </div>
	<%% } %>
</div>
</script>