<!-- Modal -->
<div class="modal" id="declareWarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <div class="modal-body" id="view-declare-war-modal">
            <!-- Declare War Template -->
      </div>
    </div>
  </div>
</div>
