<div class="card side-list">
	<div class="card-header bg-dark text-white">
		All channels
		<span class="oi oi-plus float-right"></span>
	</div>
	<div class="card-body bg-secondary text-white">
		<ul class="list-group" id="view-channels-list">
			<!-- view-channels-list -->
		</ul>
	</div>
</div>