<script type="text/template" name="login">
	<div class="container-fluid full-height">
		<div class="row full-height justify-content-center align-items-center">
			<%= link_to login_path, method: :post do %> 
				<button type="button" class="btn btn-dark">
					Sign in with 42 intra
				</button>
			<% end %>
		</div>
	</div>
</script>