<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<a class="navbar-brand" href="/#game">
		42 Pong
	</a>

  <div class="nav-user" id="view-nav-user">
    <!-- view-nav-user template -->
	</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto" id="view-nav-item">
      <!-- view-nav-item template -->
    </ul>
  </div>

</nav>