<div id="app">
<% if !user_signed_in? %>
	<%= render "login" %>
<% else %>
	<%= render "navbar" %>

	<div class="container-fluid" id="content-wrapper">
		<div class="row h-100">
			<div class="col-md-8 border" id="view-content">
				<!-- view-content -->
			</div>
			<div class="col-md-4">
				<div class="row h-100">
					<%= render "channels" %>
					<%= render "friends" %>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>

<% if user_signed_in? %>
<script>
let user_profile_model;
$(()=> {
	/* model setting */
	const route_model = new SPA.Models.Route();
	user_profile_model = new SPA.Models.UserProfile();

	/* view setting */
	const game_content_view = new SPA.Views.GameContent({
		el: $("#view-content")
	});
	const profile_content_view = new SPA.Views.ProfileContent({
		el: $("#view-content")
	});
	const guild_content_view = new SPA.Views.GuildContent({
		el: $("#view-content")
	});
	const nav_item_view = new SPA.Views.NavItem({
		el: $("#view-nav-item"),
		model: route_model,
	})
	const nav_user_view = new SPA.Views.NavUser({
		el: $("#view-nav-user"),
		model: user_profile_model
	})

	/* router setting */
	const SPA_Router = Backbone.Router.extend({
		routes: {
			"": "game",
			"game": "game",
			"profile": "profile",
			"guild": "guild"
		},
		game: function() {
			game_content_view.render();
		},
		profile: function() {
			profile_content_view.render();
		},
		guild: function() {
			guild_content_view.render();
		}
	});
	const router = new SPA_Router();
	router.on("route", function(route, params) {
    route_model.set({ route: route });
	});
	Backbone.history.start();
})

</script>
<% end %>

