<script type="text/template" name="tmpl-duel-index">
	<div class="container-fluid full-height">
		<div class="row full-height justify-content-center align-items-center">
			<button class="btn btn-danger btn-lg" id="start-duel-game">start random duel match</button>
		</div>
	</div>
</script>