<!-- profile content -->

<script type="text/template" name="tmpl-block-searched-users-modal">
	<%% _.each(users, function(user, i) { %>
		<li class="list-group-item"><%%= user.nickname %> (<%%= user.name %>)
			<button class="btn btn-danger btn-sm float-right blockUserBtn"
				<%%= _.find(blocked_list, (f) => { return (f.user_id === user.user_id)}) ? "disabled" : "" %>
				data-user-id="<%%= user.user_id %>"
				data-name="<%%= user.name %>"
				data-nickname="<%%= user.nickname %>"
				data-avatar-url="<%%= user.avatar_url %>">
				block
			</button>
		</li>
	<%% }) %>
</script>

<script type="text/template" name="tmpl-content-profile">
<div class="m-3">
	<h2>User Profile</h2>
</div>
<div class="container p-3">
<form id="profile-form" class="border-bottom" enctype="multipart/form-data">
  <div class="form-group row">
    <label for="avatar" class="col-sm-5 col-form-label">Avatar</label>
    <div class="col-sm-7">
    	<input type="file" class="form-control-file avatar" id="avatar" accept="image/*">
    </div>
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-5 col-form-label">Name</label>
    <div class="col-sm-7">
			<input class="form-control name-update" type="text" value="<%%= name %>" id="name" readonly>
    </div>
  </div>

  <div class="form-group row">
    <label for="nickname" class="col-sm-5 col-form-label">Nickname</label>
    <div class="col-sm-7">
      <input type="text" class="form-control nickname-update" id="nickname" value="<%%= nickname %>" pattern="[A-Za-z]{3,8}" title="Nickname should contain only alphabets without spaces and special characters. Length [3-8] characters">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">2 Factor Authentication</div>
    <div class="col-sm-7">
      <div class="custom-control custom-switch">
        <input class="custom-control-input two-factor-update" type="checkbox" id="twofactor" <%%= (two_factor === "on" ) ? "checked" : "" %>>
        <label class="custom-control-label" for="twofactor">
          off / on
        </label>
      </div>
    </div>
  </div>
  <div id="two_factor">
      <% if current_user.otp_required_for_login? %>
      	<div><%= link_to "Disable", two_factor_path, method: :delete, remote: true, class: "btn btn-outline-danger" %></div>
  <div class="row">
    <div class="col-8">
      <ol class="mt-5">
        <li>
          Install Google Authenticator:
          <%= link_to "Android", "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en", target: :blank %>
          or
          <%= link_to "iOS", "https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8", target: :blank %>
        </li>
        <li>In the app, select "Set up account" or the Plus (+) sign.</li>
        <li>Choose "Scan barcode"</li>
      </ol>
    </div>

    <div class="col-4 text-center">
      <%= current_user.otp_qr_code.html_safe%>
    </div>
      <% else %>
          <p>When you login, you will be required to enter a one-time code along to one of your devices.</p>
          <div>
            <button class="btn btn-outline-success enable">Enable</button>
          </div>
      <% end %>
  </div>
  <div class="form-group row">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </div>
</form>
</div>

<div class="m-3">
	<h2><span class="mr-3">Block List</span> <button type="button" class="btn btn-warning blockBtn" data-toggle="modal" data-target="#searchBlockUserModal">Add</button></h2>
	<div class="overflow-auto" style="height: 200px">
		<ul class="list-group">
		<%% _.each(block_list, function(block_list) { %>	
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<%%= block_list.nickname %>
				(<%%= block_list.name %>)
				<button type="button" class="btn btn-danger btn-sm unblock" data-user_id="<%%= block_list.user_id %>" data-name="<%%= block_list.name %>"
			data-nickname="<%%= block_list.nickname %>">delete</button>
			</li>
		<%% }) %>
		</ul>
		<br>

	</div>
</div>
</script>